<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>12 Стульев</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        .top-buffer {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div class="h-100 row align-items-center">
        <div class="col-md-12">
            <h1> Мебель </h1>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Наименование </th>
                    <th> Цена </th>
                    <th> Количество </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in items" :key="item.id">
                    <td><span> {{ item.name }} </span></td>
                    <td><span> {{ item.price }} ₽ </span></td>
                    <td><span> {{ item.quantity }} </span></td>
                    <td><button 
                        type="button" 
                        class="btn btn-dark" 
                        @click="addItem(item)"
                        >Добавить</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h2>Карзина</h2>
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Наименование </th>
                    <th> Цена</th>
                    <th> Количество </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in cart.items" :key="item.id">
                    <td><span> {{ item.name }} </span></td>
                    <td><span> {{ item.price }} ₽ </span></td>
                    <td><span> {{ item.quantity }} </span></td>
                    <td><button 
                        type="button" 
                        class="btn btn-dark" 
                        @click="deleteItem(item)"
                        >Удалить</button></td>
                </tr>
                <tr>
                    <td><span> <strong>Всего</strong> </span></td>
                    <td><span> {{ cart.totalPrice }} ₽ </span></td>
                    <td><span> {{ cart.totalCount }} </span></td>
                </tr>
                </tbody>
            </table>
            <button 
                type="button"
                class="btn btn-primary"
                @click="createOrder"
                :disabled="cartIsEmpty"
            > Оформить заказ </button>
            <h3 v-if="orderCreated">Заказ создан!</h3>
            <h3 v-if="orderError">Что-то пошло не так. Попробуйте позже.</h3>
        </div>
    </div>
    <div class="row top-buffer">
        <a class="btn btn-info col-md-6" href="/orders.html" authorities="button">Мои заказы</a>
    </div>
</div>
</body>
<script>

    var app = new Vue({
        el: "#app",
        data: {
            items: [],
            errors: [],
            cart: {
                items: [],
                totalCount: 0,
                totalPrice: 0
            },
            orderCreated: false,
            orderError: false
        },
        beforeCreate() {
            axios.get("/api/items")
            .then(response => {
                this.items = response.data;
            })
            .catch(error => {
                this.errors.push(error)
            })
        },
        computed: {
            cartIsEmpty() {
                return this.cart.items.length < 1;
            }
        },
        methods: {
            addItem(item) {

                if (item.quantity <= 0) {
                    return
                }

                let found = this.cart.items.find(
                    product => product.id === item.id
                )

                if (found) {
                    found.quantity++
                } else {
                    const insert = JSON.parse(JSON.stringify(item))
                    insert.quantity = 1
                    this.cart.items.push(insert)
                }

                item.quantity--
                this.cart.totalCount++
                this.cart.totalPrice += item.price
            },
            deleteItem(item) {
                let found = this.items.find(
                    product => product.id === item.id
                )
                
                if (item.quantity != 1) {
                    item.quantity--
                } else {
                    var removeIndex = this.cart.items.findIndex(x => x.id === item.id)
                    this.cart.items.splice(removeIndex, 1)
                }

                found.quantity++
                this.cart.totalCount--
                this.cart.totalPrice -= item.price

            },
            createOrder() {
                axios.post("/api/order", this.cart.items)
                    .then(response => {
                        if (response.status == 200) {
                            this.cart = {
                                items: [],
                                totalCount: 0,
                                totalPrice: 0
                            }
                            this.orderCreated = true
                        } else {
                            this.orderError = true
                        }
                    })
                    .catch(error => this.orderError = true)
            }
        }
    })

</script>
</html>